.App {
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2015/09/09/23/13/vintage-933793__480.jpg");
  height: 100vh;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}
.App-header h1 {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    rgb(25, 182, 255),
    rgb(39, 39, 39),
    rgb(25, 182, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-link {
  color: #61dafb;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
